style
    include registrationChooser.css
div(id="registrationChoose")
    div(id="forStrudents")
        h1 ARE YOU STUDENT??
        a( href='/register/student')
            div(class ="button1") register
        a( href='/login/student')
            div(class ="button2") Login
    div(id="forProfessors")
        h1 ARE YOU PROFESSOR??
        a( href='/register/professor')
            div(class ="button1") register
        a( href='/login/professor')
            div(class ="button2") Login