style
    include registrationChooser.css
div(id="registrationChoose")
    div(id="forStrudents")
        h2 Are you student?
        a( href='/register/student')
            div(class ="button1") register
        a( href='/login/student')
            div(class ="button2") Login
    div(id="forProfessors")
        h2 Are you professor?
        a( href='/register/professor')
            div(class ="button1") register
        a( href='/login/professor')
            div(class ="button2") Login